:root {
	/* ------- colors ------- */
	--back-color : #fdfdfd;
	--primary-nav-text-color : #27272a;
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Montserrat", sans-serif;
	--secondary-font: "Montserrat", sans-serif;
	/* --------------------- */
}
[data-theme="dark"] {
	--back-color : #1d2631;
	--primary-nav-text-color : #27272a;
	--primary-color: #f5f5f5;
	--secondary-color: #f5f5f5;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Montserrat", sans-serif;
	--secondary-font: "Montserrat", sans-serif;
}
